@use '@angular/material' as mat;

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body.theme-light {
  color-scheme: light;
}

body.theme-dark {
  color-scheme: dark;

  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
        theme-type: dark,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}
